* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}


.nav {
  background-color: white;
  color: black;
  list-style: none;
  text-align: right;
  padding: 20px 0 0px 0;
  font-family: Roboto;
}

.nav > li {
  display: inline-block;
  padding-right: 100px;

}


.nav > li > a {
  text-decoration: none;
  color: black;
}

.nav > li > a:hover {
  color: #c1c1c1;
  
}

.logo {
  color: black;
  float: left;
  padding-left: 1px;
  font-size: 55px;
  font-weight: bold;
    
}

.logo > a {
  text-decoration: none;
  color: black;
}


.banner {
  width:100%;
  display: block;
}


.banner > .banner-image {
  width:100%;
  display: block;
  
}

.civ-types {
max-width: 298px;
border: 1px solid #c1c1c1;
margin: 20px 10px;
padding: 0 5px;
float: left;
  
}


.civ-types > p {
  color: #636363;
  max-width: 250px;
  font-family: Roboto;
}

.types {
  width: 2100px;
  margin: 0 auto;
}

h1 {
  font-size: 35px;
  font-weight: bold;
  color: white;
  padding: 10px 0;
  margin: 0 -6px;
  font-family: Audiowide;
}

#a1 {
  background-image: url("../static/img/citadel.jpg"); &nbsp;
}
#a2 {
  background-image: url("../static/img/type0.jpg"); &nbsp;
}
#a3 {
  background-image: url("../static/img/type1.jpg"); &nbsp;
}
#a4 {
  background-image: url("../static/img/type2.jpg"); &nbsp;
}
#a5 {
  background-image: url("../static/img/type3.jpg"); &nbsp;
}
#a6 {
  background-image: url("../static/img/type4.jpg"); &nbsp;
}
#a7 {
  background-image: url("../static/img/type5.jpg"); &nbsp;
}

.image {
  max-width: 200px;
  margin: 15px 0 0 0;
  
}


.image:hover {
  opacity: 0.5;
  max-width: 200px;
  margin-top: 15px;
}


h2 {
  text-align: center;
  text-transform: uppercase;
  
  
}

body {
  font-family: "Roboto", sans-serif;
  color: #252525;
  font-size: 22px;
}




